[Unit]
Description=Demo App
After=network.target

[Service]
Type=simple
User=mappy
WorkingDirectory=/home/mappy/Desktop/catty-reminders-app
Environment="PATH=/home/mappy/Desktop/catty-reminders-app/venv/bin"
ExecStart=/home/mappy/Desktop/catty-reminders-app/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8181
Restart=always

[Install]
WantedBy=multi-user.target
