[Unit]
Description=GitHub Webhook Handler
After=network.target

[Service]
Type=simple
User=mappy
WorkingDirectory=/home/mappy/webhook
ExecStart=/usr/bin/python3 /home/mappy/webhook/webhook.py
Restart=always

[Install]
WantedBy=multi-user.target
